body{
    color: #fff;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    
    background: url('../Images/login_breakfast.jpg') no-repeat;
    background-size:100% 100% ;
  background-attachment: fixed;
}

.my-form{
    text-align: center;
    background-color : rgba(255, 255, 255, 0.486);
    max-width: 450px;
    max-height: 1000px;
    margin: auto;
    margin-top: 15vh;
    padding: 50px 60px;
    border: 1px  solid;
    border-radius: 2%;
    border-color: aliceblue;
    -webkit-box-shadow: 25px 32px 30px -13px rgba(87,84,87,1);
    -moz-box-shadow: 25px 32px 30px -13px rgba(87,84,87,1);
    box-shadow: 25px 32px 30px -13px rgba(87,84,87,1);
}

.btn-primary{
    margin-top: 20x;
    
}
.in{
    overflow: visible;
    margin-bottom: 40px;

}
.bt-container{
    padding: 20px;
}

.my-form{
    color: #fff;
}