body {
  background: url(../Images/AdministradorFondo.png) repeat;
  background-size:84% 100% ;
  background-attachment: fixed;
}
.table {
  background: whitesmoke;
  border-radius: 5px;
}
.btn .btn-dark{
    border-color:red !important;
    color: tomato !important;
}

.container{
  margin-top: 5%;
}
