<div th:fragment="sidebar">
    <div id="sidebar-container" class="bg-secondary">
        <div class="menu">
            <a class="d-block p-3 text-light" th:href="@{/listar}"><i class="icon ion-md-grid mr-2 lead"></i>Productos</a>
            <a th:href="@{/reporte}" class="d-block p-3 text-light"><i class="icon ion-md-paper mr-2 lead"></i>Reporte</a>
            <a th:href="@{/analisis}" class="d-block p-3 text-light"><i class="icon ion-md-trophy mr-2 lead"></i>Análisis</a>
        </div>
    </div>
</div>